body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin: 20px;
}

.add-button {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.users-list {
    display: flex; /* Changed to inline-block */

}

.user-card {
    display: inline-block; /* Changed to inline-block for horizontal layout */
    width: 150px;
    margin: 10px;
    text-align: center;
}

.user-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.user-card b {
    display: block;
    margin-top: 10px;
}

.user-card a {
    margin: 5px;
    display: inline-block;
}
